.onboarding {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 80%;
	margin-bottom: 10vh;
}

.iconRight {
	position: absolute;
	right: 5%;
}
.iconLeft {
	position: absolute;
	left: 5%;
}

.reviewPage {
	justify-content: space-between;
}

@media (min-width: 600px) {
	.JournalLog {
		width: 500px;
	}
	.onboarding {
		justify-content: center;
		height: 80vh;
	}
}
