.FoodSearch {
  /* border: 2px solid black; */
  margin: 0 12.5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.BTN{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
