.NutritionFact {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  background-color:#44C9B0 ;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.4); */
  justify-content: center;
  margin: 10px;
}

.NutritionFact:nth-child(2){
  background-color:#F2E467 ;
}
.NutritionFact:nth-child(3){
  background-color:#CB5B6F ;
}
.NutritionFact p {
  margin-block-end: 10px;
  margin-block-start: 10px;
}
