.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 1vh 10vw;
  margin: 1vh auto;
  border-radius: 10px;
  font-weight: bold;
  width: 100%
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
  background-color: #5BCBAC;
}

.Dashboard{
  background-color: #5BCBAC;
}

.Danger {
  background-color: #944317;
}

.Yield{
  background-color: #F2E467;
  color: #000

}

.Auth{
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}


