.dailyJournal{
    width: 80vw;
    /* display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    transition: all .3s; */
}

.dailyJournal .btns{
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    margin: 0 auto; 

}
.dailyJournal h3{
    color: #000
}

.none{
    opacity: 0;
}
.block{
    opacity: 1;
}