.nutritionSummary {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 100vw;
  margin: auto;
  margin-block-start: 5vh;
}
.nutritionFacts {
  display: flex;
  text-align: center;
  justify-content: center;
 
}
.nutritionSummary h3 {
  color: black;
  margin-top: 0;
}
.icon{
  position: absolute;
  top: 5%;
  left: 5%;
}
.btn{
  position: absolute;
  top: 5%;
  right: 5%;
}