
.layout {
	background-color: #ffffff;
	height: 100vh;
	width: 100vw;
}

.homeIcon{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 12vh;
height:12vh;
left: 50%;
/* right: 50%; */
/* top: -50%; */
transform: translateX(-50%);
/* bottom: 28.45%; */
border-radius: 50%;
background: #C4C4C4;
box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.75);

}

.logo {
	margin-top: 16px;
	width: 300px;
}

h3 {
	color: #ffffff;
	text-align: center;
	margin: 16px;
}

.content {
	display: flex;
	flex-flow: column;
	/* border: 2px solid black; */
	/* justify-content: space-between; */
	align-items: center;
	height: 90vh;
	width: 100vw;
	z-index: 2;
	position: absolute;
	top: 0;
}

.tabBar {
	display: flex;
	align-content: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10vh;
	border-radius: 25px 25px 0px 0px;
	background-color: #ffffff;
	color: black;
	text-align: center;
	box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.75);
	z-index: 10;
}

.newGame {
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	height: 65vh;
	width: 100vw;
}

.icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0% 15vw;
}
.unselected {
  color: #979797;
	font-size: 7vh;
}
.selected {
	color: #44C9B0;
	font-size: 7vh;
}


