.nutritionSummary {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 100%;
  margin: auto;
  /* margin-block-start: 5vh; */
}
.nutritionFacts {
  display: flex;
  text-align: center;
  justify-content: center;
 
}
.description-records{
  text-align: center;
    width: 70%;
    margin: 0 auto;
}

.nutritionSummary h3 {
  color: black;
}
.icon-dailyJournal{
  position: absolute;
  top: 5%;
  left: 5%;
}
.icon-records{
  position: absolute;
  left: 5%;
}
.btn{
  position: absolute;
  top: 5%;
  right: 5%;
}

.empty{
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width:600px){
  .summary{
    height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
}