.JournalEntry {
  display: flex;
  font-size: inherit;
  background: transparent;
  color: #fff;
  justify-content: space-around;
  border-radius: 15px;
  text-align: center;
}

.JournalEntry p{
  margin-block-end: 0%;
  margin-block-start: 0%;
}
