
.splashbg{
  background-image: url('../../../assets/images/mike-von-CX0zKCHOpJo-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .5;
  height: 100vh;
  width:100vw;
  transition: all .3s;
}

.blur{
  filter: blur(8px)
}
.logo{
  margin-top: 3vh;
  width: 200px;
}

h3{
  color:#ffffff;
  text-align: center;
  margin: 16px;

}

.main{
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
  width: 100vw;
  z-index: 2;
  position: absolute;
  top:0;
}
.content{
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: space-between;
    height: 80%;
}

.content h5{
    margin-top: 40%;
    max-width: 70%;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}