.Records{
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.btn{
  margin-bottom: 20vh;
    width: 80%;
    box-shadow: 5px 5px 10px grey;
}

.pastEntry{
  display: flex;
  flex-flow: column;
}