.Records{
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.btn{
  margin-bottom: 20vh;
    width: 80%;
    box-shadow: 5px 5px 10px grey;
}

.pastEntry{
  display: flex;
  flex-flow: column;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

@media only screen and (min-width: 600px){
  .pastEntry{
    height:80vh;
  }
}