
.Invalid {
  border: 1px solid red;
  background-color: lightpink;
}

.ValidationError {
  color: red;
  margin: 5px 0;
}



.form__field {
  text-align: center;
  margin: 1rem 0;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #000;
  /* padding: 7px 0; */
  background: transparent;
  transition: border-color 0.2s;
  overflow-x: scroll
}
  .form__field:focus::placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }


.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color:  #9b9b9b;
}

.form__field:focus {
  /* padding-bottom: 6px;   */
  /* font-weight: 700; */
  /* border-width: 3px; */
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
/* reset input */
.form__field:invalid, .form__field:required { box-shadow:none; }
